* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  max-width: 75%;
  margin: 0 auto;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-family: "Roboto", sans-serif;
  line-height: 1.75;
  color: #4d2323;
}

.main-container {
  display: flex;
  flex-wrap: wrap;

  background-color: #51793807;
}

@media screen and (max-width: 700px) {
  body {
    display: block;
    flex-direction: row;
  }
}

.section,
.main-section {
  width: 50%;
  padding: 25px;
}

.section-title {
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #829985;
}

.section h1 {
  font-size: 200%;
}
.section pre {
  background-color: #efefef8e;
  border-radius: 5px;
}

.section a {
  text-decoration: none;
  color: #4d2323;
}

.main-photo {
  border-radius: 50%;
}

.icon-contact {
  height: 20px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  transition: 0.3s;
}

.nav a {
  color: #829985;
  text-decoration: none;
  transition: color 0.5s;
}

.nav a:hover {
  color: #341818;
}

header,
footer {
  background-color: rgba(233, 233, 235, 0.72);
}

.section-ul {
  list-style: none;
}

.footer-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.footer-li h2 {
  font-size: 16px;
  color: black;
}
