* {
  box-sizing: border-box;
}

@media screen and (max-width: 750px) {
  body {
    min-width: 100%;
  }
  .nav-list {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .nav-link {
    line-height: 175%;
    min-width: 100vw;
  }
}

body {
  min-height: 100vh;
  max-width: 80vw;
  margin: 0 auto;

  font-family: "Roboto", sans-serif;
  color: #4d2323;
}

.header {
  line-height: 4em;
  background-color: rgba(233, 233, 235, 0.72);
}

.nav-list,
.nav-item {
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.nav-link {
  text-align: center;
  list-style: none;
  padding: 0;
  text-decoration: none;
  color: #82aa85;

  transition: color 0.5s;
}

.nav-link:hover {
  color: #341818;
}
